body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
  width: 50%;
  padding-left: 10px;
  text-align: center;
  border: 1px solid thistle;
}

button.filter {
  background-color: #e7e7e7; 
  color: black; /* Green */
  border: none;
  border-radius: 1px;
  padding: 5px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.current {
  /* border: 1px solid green; */
  background-color: #555555;
  color: white;
  padding: 5px;
}